* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
background-color: white;
overflow-x: hidden;
}

.box {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background-color: rgb(230, 229, 229);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    
}

.main {
    width: 100%;
    max-width: 410px;
    background-color: white;
    position: relative;
    border-radius: 10px;
    box-shadow: 8px 8px 15px rgb(187, 187, 187);
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    left: 25px;
    
}

input, .log, .new {
    width: 90%;
    height: 40px;
    margin: 10px 0;
    border-radius: 10px;
    font-size: 18px;
}

input {
    padding: 10px;
    border: 1px solid rgb(192, 192, 192);
}

input::placeholder {
    color: rgb(204, 204, 204);
    font-size: 16px;
}

.log {
    background-color: rgb(43, 122, 240);
    color: white;
    font-weight: bold;
    border: none;
    width: 90%;
}

a {
    font-size: 14px;
    text-decoration: none;
    color: rgb(43, 122, 240);
    display: block;
    text-align: center;
    margin-top: 10px;
}

a:hover {
    text-decoration: underline;
}

.new {
    background-color: rgb(60, 179, 44);
    color: white;
    font-weight: bold;
    border: none;
    margin-top: 20px;
    width: 50%;
}

.spac {
    background-color: grey;
    margin: 15px 0;
}

.footer {
    background-color: white;
    font-size: 14px;
    color: rgb(139, 139, 139);
    text-align: center;
    margin-top: 20px;
    padding: 10px;
}

.unique {
    font-size: 60px;
    font-weight: bold;
    color: rgb(8, 123, 231);
    text-align: center;
    margin-bottom: 20px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .box{
    flex-wrap: wrap;
    }
    .main {
        width: 80%;
        padding: 15px;
        position: relative;
        left: 0;
        
       
    }

    .unique {
        font-size: 40px;
    }

    input, .log, .new {
        font-size: 16px;
    }

    .footer p {
        font-size: 10px;
    }
}

@media (max-width: 480px) {
    .main {
        width: 90%;
        padding: 10px;
        
    }

    .unique {
        font-size: 30px;
    }

    input, .log, .new {
        font-size: 14px;
    }

    .footer p {
        font-size: 10px;
    }

    .box {
        height: 100vh;
        padding: 20px;
    }
}
